# Redis Configuration
UPSTASH_REDIS_REST_URL=https://ample-troll-22156.upstash.io
UPSTASH_REDIS_REST_TOKEN=AVaMAAIjcDE0MDk3YzhhMTU2NGQ0MDNkOWUwNWJjYmNkMWJiMTM2ZHAxMA

# Contract Addresses
NEXT_PUBLIC_USDC_CONTRACT=0x3355df6D4c9C3035724Fd0e3914dE96A5a83aaf4
NEXT_PUBLIC_CONFESS_CONTRACT=0xa951f9fe5ae598d62799e47a99e71347671c2de9

# Required for Frame metadata
NEXT_PUBLIC_URL=
NEXT_PUBLIC_VERSION=
NEXT_PUBLIC_ONCHAINKIT_PROJECT_NAME=
NEXT_PUBLIC_ICON_URL=
NEXT_PUBLIC_IMAGE_URL=
NEXT_PUBLIC_SPLASH_IMAGE_URL=
NEXT_PUBLIC_SPLASH_BACKGROUND_COLOR=

# Required to allow users to add your frame
FARCASTER_HEADER=
FARCASTER_PAYLOAD=
FARCASTER_SIGNATURE=

# Required for webhooks and background notifications
REDIS_URL=
REDIS_TOKEN=

# Required for image uploads (Cloudinary)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET= 